<%-include("header")-%>
    <!-- <span id="logo">WWA</span> -->
    <div id="main" class="mainclass">
        <div id="card" class="change1">
            <p id="info">If you don't have any account in the bank then click SIGN UP button else you can click the LOG IN button.</p>
            <button id="signup" class="btn1" name="signinbtn"><a href="/signin">SIGN-UP</a> </button>
            <button id="login" class="btn1"><a href="/login"> LOG-IN</a></button>
        </div>
    </div>


    <footer class="footer"></footer>
    <script src="../public/js/bank_design.js"></script>
    <script type="text/javascript" src="../public/js/vanilla-tilt.js"></script>
    <script src="../public/js/3d.js"></script>
    </body>

    </html>