<footer class="home-footer">
    <h2>TERMS & CONDITIONS </h2>
    <p> <br> All offers are subject to terms and conditions stated on our website.</p>

    <p>Visit this link if you want to see your profile </p>
    <p>16/6 Industrial Colony</p>
    <p>C.B.Ganj Bareily </p>
    <p>COPYRIGHT 2021</p>
</footer>

</body>

</html>