<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WATASHI WA BANK</title>
    <!-- <link rel="shortcut icon" href="../public/images/coollogo_com-233171276.png" type="image/x-icon"> -->
    <link rel="stylesheet" href="../public/css/bank.css">
    <link rel="stylesheet" href="home.ejs">
    <link rel="stylesheet" href="debit.ejs">
    <link rel="stylesheet" href="credit.ejs">


</head>

<body>
    <header>
        <div id="titlediv">
            <p id="titl11">Watashi Wa Bank</p>
        </div>

    </header>


    </div>