<%-include("header")-%>


    <main class="logindiv">
        <form class="login-form" name="login" onSubmit="return formValidationlogin();" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="text" class="login-class" id="loginiid" name="acco" placeholder="ENTER YOUR ACCOUNT NUMBER ">
            <input type="password" class="login-class" name="passwrd" placeholder="ENTER YOUR PASSWORD">
            <button id="sid" class="submit" type="submit">SUBMIT</button>

        </form>
    </main>
    <footer class="footer"></footer>
    <script src="../public/js/bank_design.js"></script>

    </body>

    </html>
    <!-- <a href="home.html"></a> -->