<%-include("header")-%>

    <main id="formid">
        <form id="sign-up-form" name="reg" onSubmit="return formValidation();" class="sign-up-form-class" action="/signin" method="POST" enctype="multipart/form-data">
            <input id="input1" type="text" class="user-info" name="name1" placeholder="ENTER YOUR NAME">
            <input id="input2" type="email" class="user-info" name="mail" placeholder="ENTER YOUR GMAIL">
            <input id="input3" type="text" class="user-info" name="pno" placeholder="ENTER YOUR PHONE NUMBER">
            <input id="input4" type="text" class="user-info" name="addr" placeholder="ENTER YOUR ADDRESS">
            <input id="input5" type="text" class="user-info" name="fname" placeholder="ENTER YOUR FATHER'S NAME">
            <input id="input6" type="password" class="user-info" name="pass" placeholder="ENTER YOUR PASSWORD">
            <input id="input7" type="file" accept="image/*" class="user-info" name="pic">

            <button class="submit" id="sub" type="submit">SUBMIT</button>

        </form>


    </main>
    <footer class="footer"></footer>
    <script src="../public/js/bank_design.js"></script>

    </body>

    </html>